/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 691px}
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 114%;
}
#map{    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;}

#companies_button {
    display: none;
}

body {
    background-color: orange;
}

#user {
    margin-top: 14px;
    color: gold;
}

#id {
    margin-top: 14px;
    margin-right: 50px;
    margin-left: 3px;
    color: gold;
}
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 768px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

@media(max-width: 768px) {
    #map {
        position: static;
        width: 100%;
    }
    #companies_button {
        margin-bottom: 20px;
        display: block;
    }
    .companies {
        display: none;
    }
}

#workfront {
    height: 20px
}
#aca {
    height: 40px;
    width: 40px
}
#iuNetworks {
    width: 60%
}
#SFL{
    height: 65px;
    width: 95px
}
#Staff{
    height:40px;
    width: 110px;
}
#Inomma{
    height:50px;
    width: 110px;
}
#Digitain{
    height:70px;
    width: 125px;
}
#Inecobank{
    height:70px;
    width: 125px;
}
#Git{
    height:50px;
    width: 135px;
}
#vmware{
    height:50px;
    width: 145px;
}
#space{
    height: 200px;
}

.description {
    padding-top: 12px;
    font-family: fantasy;
    font-size: 25px;
    line-height: 40px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
    margin-bottom: 20px;
}

#anime {
    height: 0px;
}

.container-fluid {
    padding-left: 15px;
}