<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In Page</title>
    <style>
        body {
            background-color: lightGray
        }
        table {
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body>
<h1>You are registered, now you can log in</h1>
<!--<form action="#" th:action="@{/profile}" th:object="${user}"-->
      <!--method="post">-->

    <!--<table border="1">-->
        <!--<tr>-->
            <!--<td><input type="text" th:field="*{email}" placeholder="Email" /></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><input type="text" th:field="*{passwordHash}" placeholder="Password"/></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td><input type="submit" value="Submit" /></td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</form>-->
</body>
</html>