<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Manager</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/anime.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/course.css}" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/anime.js}"></script>
</head>
<body>

<div id="content"></div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-education"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/about}">About</a></li>

                <li id="dropdown"><div class="dropdown">
                        <a class="dropbtn">Courses</a>
                        <div class="dropdown-content">
                            <a href="#" th:each="course : ${courses}" th:text="${course.name}"></a>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#" th:href="@{/addUser}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <button id="companies_button" data-toggle="collapse" data-target=".companies">Companies</button>
            <div class="companies" style="overflow: scroll ; overflow-x:hidden ; height:100%">
                <p><a href="https://www.workfront.com/" target="_blank"><img id="workfront" src="https://www.workfront.com/sites/default/files/workfront-logo.png"/></a></p>
                <p><a href="http://aca.am/hy/" target="_blank"><img id= "aca" src="http://i.imgur.com/o27kplS.png"/></a></p>
                <p><a href="http://iunetworks.am/" target="_blank"><img id="iuNetworks" src="http://iunetworks.am/img/vector/iu-network-logo-in-colors.svg"/></a></p>
                <p><a href="http://energizeglobal.com/" target="_blank"><img id="EGS" src="http://energizeglobal.com/wp-content/uploads/2015/01/Untitled-1-e1421848815907.png"/></a></p>
                <p><a href="https://sflpro.com/" target="_blank"><img id="SFL" src="https://sflpro.com/wp-content/uploads/2016/06/sfllogo-01.png"/></a></p>
                <p><a href="https://staff.am/en" target="_blank"><img id="Staff" src="http://images.staff.am/upload/f/f/2/6/ff2690ae.png"/></a></p>
                <p><a href="https://inomma.com//" target="_blank"><img id="Inomma" src="http://pacific.ba/tc_files/images/radnje/INOMA/inoma_logo.jpg"/></a></p>
                <p><a href="https://www.digitain.com/" target="_blank"><img id="Digitain" src="https://armacad.info/images/2016/11/DigitainLogo-zK4dW-NLGLwioH-yvumHUbN8GMhx7dJv.jpg"/></a></p>
                <p><a href="https://ggg.instigatedesign.com/#1" target="_blank"><img id="Instigate  " src="https://ggg.instigatedesign.com/assets/uploads/instigate_design3.svg"/></a></p>
                <p><a href="https://www.inecobank.am/hy/%D5%BF%D5%B8%D6%82%D5%B6/" target="_blank"><img id="Inecobank" src="http://arka.am/upload/resize_cache/iblock/863/344_258_2/8635ec64e35a1730e86954ba18f43f41.jpg"/></a></p>
                <p><a href="https://github.com/" target="_blank"><img id="Git" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png"/></a></p>
                <p><a href="https://www.vmware.com/asean.html" target="_blank"><img id="vmware" src="https://duo.com/assets/img/partners/select-partners/vmware.png"/></a></p>
                <p id="space"></p>
            </div>
            <iframe id="map"
                    title="map"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=us&amp;geocode=&amp;q=yerevan&amp;sll=40.1792,44.4991&amp;sspn=340.1792,44.4991&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Yerevan,+Armenia&amp;z=11&amp;ll=40.1792,44.4991&amp;output=embed">
            </iframe>
        </div>
        <div class="col-sm-8 text-left">
            <div class="description">Welcome to the Course Manager program and our new community. Discover the value of an open, collaborative effort by one of the greatest open-source teams in Armenia.</div>
            <hr/>
            <div id="anime" class="container-fluid sa" style="" dir="ltr">
                <div class="container hidden-xs hidden-sm sa" style="margin-bottom: 80px; width: 100%">
                    <div class="row sa">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 sa" style="position: relative;height: 560px">

            <span class="one1">

            </span>
                            <span class="one2">

            </span>
                            <span class="one3">

            </span>
                            <span class="two1">

            </span>
                            <span class="two2">

            </span>
                            <span class="fore1">

            </span>
                            <span class="fiv1">

            </span>
                            <div style="position: absolute;text-align: center;z-index: 99" class="test testt">
                                <img src="http://belmagan.com/demopay/serv2020/wp-content/uploads/2018/05/score2.png"
                                     class="ik"/>
                                <h5>
                                    FOR THE NON-GEEKS
                                </h5>
                                <p class="words">
                                    while(true) { I love you; } <br /> This means I love you <br /> infinitely forever or until the system crashes.
                                </p>

                            </div>
                            <div style="position: absolute;z-index:9;text-align: center;left: 49%;right: 12%;"
                                 class="test1">
                                <img src="http://belmagan.com/demopay/serv2020/wp-content/uploads/2018/05/score2.png"/>
                                <h5>
                                    STEVE JOBS (1955 - 2011)
                                </h5>
                                <p class="words">
                                    Design is not just what it looks like and feels like. Design is how it works.
                                </p>

                            </div>
                            <!--<div class="border1"></div>-->
                            <div style="position: absolute;z-index:9;text-align: center;top: 35%;right: 32%;"
                                 class="test2">
                                <img src="http://belmagan.com/demopay/serv2020/wp-content/uploads/2018/05/score2.png"/>
                                <h5>
                                    LINUS TORVALDS
                                </h5>
                                <p class="words">
                                    Talk is cheap. Show me your code.
                                </p>
                            </div>
                            <!--<div class="border2"></div>-->
                            <span class="three1">

            </span>
                            <div style="position: absolute;text-align: center;bottom: 0%;right: 6%" class="test3">
                                <img src="http://belmagan.com/demopay/serv2020/wp-content/uploads/2018/05/score2.png"/>
                                <h5>
                                    TELL ME ANY 4 VERSIONS OF JAVA
                                </h5>
                                <p class="words">
                                    Mar Java Mit Java Lut Java Main Sadke Java
                                </p>

                            </div>


                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sa">
                            <img id="te"
                                 src="http://belmagan.com/demopay/serv2020/wp-content/themes/serv5new/images/bulb.png"
                                 class="img-responsive bulb"/>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 sidenav" style="overflow: scroll ; overflow-x:hidden ; height:114%">
            <div class="well" th:each="announcement : ${announcements}">
                <h3 th:text="${announcement.title}"></h3>
                <p th:text="${announcement.description}"></p>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p>&copy; Copyright 2018. Yerevan, RA. </p>
    <p>Authors: Armen Aslikyan &amp; Edgar Ayvazyan</p>
</footer>
</body>
</html>